.blog {
    padding-top: 70px;
    padding-bottom: 100px;
    background: #111a2b;
}

.card {
    border: none !important;
    background-color: #000000 !important;
    color: #ffffffd9;
}

.card-title {
    color:rgb(61, 212, 23);
    text-transform: uppercase;
    font-weight: bold;
}

.card-text{
    font-size: 17px;
}